:host {
    .profile-badge {
      position: relative;
      .upload-label {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
  
    .profile {
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
  
    .profile:hover {
      transform: scale(1.1);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  
    button {
      transition: all 0.3s ease-in-out;
  
      &:hover {
        opacity: 0.9;
      }
    }
  
    form {
      max-width: 700px;
      margin: 0 auto;
    }
  }